@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm font-normal leading-4 text-black;
}

/************ Common classes ************/
.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-left {
  @apply flex justify-start items-start;
}

.custom-input textarea {
  @apply p-2 border-2 border-theme focus:outline-none;
}

/************ Styles ************/
.main {
  @apply px-2 py-5 flex-col xs:flex-row flex-between;
}

.slider {
  @apply bg-slate-500 h-36 p-5 text-center text-white;
}

/* Form and input fields styles */
.login-signup-wrapper {
  @apply flex items-center justify-center min-h-screen p-5 my-0 mx-auto;
}

.input-fields-wrapper {
  @apply w-full;
}

.input-fields-wrapper label {
  @apply block text-base font-medium mb-0.5;
}

.input-style {
  @apply h-12 w-full border border-[#0000001a] rounded outline-none focus:border-theme py-px pl-3.5 pr-0.5;
}

.input-err-style {
  @apply border-danger;
}

.err-tag {
  @apply block h-5 text-sm text-danger text-right border-danger;
}

/* Card styles */
.card {
  @apply w-full bg-white rounded p-5 drop-shadow;
}

.card-page-title {
  @apply text-lg sm:text-2xl font-semibold mb-2 sm:mb-4;
}

.card-page-info {
  @apply text-sm sm:text-base font-normal break-words mb-2 sm:mb-5;
}

/* To add unique(uni) gap between any of 2 element */
.mt-uni-gap {
  @apply mt-2 sm:mt-4;
}

/* btn styles */
.btn.btn-primary,
.btn.btn-primary.MuiButton-root {
  @apply text-center p-4 bg-theme w-full text-base  border-theme text-white disabled:bg-[#E6E6E6] disabled:text-[#444444];
}

.btn.btn-outline,
.btn.btn-outline.MuiButton-root {
  @apply text-center border p-4 border-theme text-theme w-full text-base disabled:bg-[#E6E6E6] disabled:text-[#444444];
}

.btn-link {
  @apply block text-base font-medium text-theme text-center;
}
