@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm font-normal leading-4;
}

/************ Common classes ************/
.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-left {
  @apply flex justify-start items-start;
}

.custom-input textarea {
  @apply p-2 border-2 border-theme focus:outline-none;
}

/************ Styles ************/
.main {
  @apply px-2 py-5 flex-col xs:flex-row flex-between;
}

.slider {
  @apply bg-slate-500 h-36 p-5 text-center text-white;
}
