@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm font-normal leading-4;
}

/************ Common classes ************/
.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.btn {
  @apply flex-center bg-[#293763] text-white;
}

/************ Styles ************/
.main {
  @apply px-2 py-5 flex-between;
}

.slider {
  @apply bg-slate-500 h-36 p-5 text-center text-white;
}

.card-section {
  @apply py-10 px-14 text-4xl;
}
